@font-face {
  font-family: "Devant_Horgen";
  src: url(/fonts/Devant_Horgen/Devant_Horgen.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-padding-top: 92px; }

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a__:visited {
    text-decoration: none; }

.container {
  height: 100%; }

.header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #B94E2B;
  z-index: 20; }
  .header__fixed {
    display: flex;
    flex-direction: column; }

.footer {
  height: 100px;
  position: relative; }

.anouncement__text {
  color: #ffffff; }

.menu__list__link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #ffffff; }
  .menu__list__link__icon {
    font-size: 20px; }

.title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 120%; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 120%;
  text-align: center; }
  .subtitle__bold {
    font-weight: 700; }

.cta__text {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase; }

.card__title {
  font-size: 24px;
  color: #000000; }

.card__description {
  font-size: 14px;
  color: #000000;
  text-align: center; }

.footer {
  color: #B3B3B3; }
  .footer__title {
    color: #B3B3B3;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase; }
  .footer__subtitle {
    color: #B3B3B3;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.27px; }
  .footer__copyright__text {
    color: #B3B3B3;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: center; }

.go-to-top__text {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.36px;
  text-transform: uppercase; }

.privacidad {
  color: #000000; }
  .privacidad__title {
    padding-top: 55px;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.4px; }
  .privacidad__subtitle {
    font-size: 1.25rem;
    font-weight: 500; }
  .privacidad__description {
    padding-top: 33px; }

.go-to-top {
  position: fixed;
  width: 153px;
  height: 46px;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-color: transparent;
  border: none; }

.back-to-home {
  width: 153px;
  height: 46px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-top: 66px; }
  .back-to-home__text {
    color: #000000;
    font-size: 1rem; }
  .back-to-home__icon {
    padding-right: 5px;
    color: #000000; }

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #1A1A1A;
  border: 3px #ffffff solid;
  border-radius: 5px; }
  .cta__text {
    width: 180px;
    padding: 20px 30px;
    color: #ffffff;
    text-decoration: none; }
    .cta__text__:visited {
      text-decoration: none; }

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .ticket:hover .ticket__img__container {
    opacity: .25;
    z-index: 0; }

.ticket__img__container {
  max-width: 100%;
  background-color: #000000;
  z-index: 10;
  opacity: 1;
  transition: all 1s ease; }

.ticket__img {
  width: 100%;
  object-fit: cover; }

.ticket__button {
  z-index: 0;
  position: absolute; }
  .ticket__button:hover {
    z-index: 10; }
    .ticket__button:hover .ticket__img__container {
      opacity: .25; }

.anouncement__container {
  display: flex;
  align-items: center;
  height: 30px;
  animation: scrolling 30s linear infinite; }

@keyframes scrolling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.anouncement__item {
  flex-shrink: 0; }

.menu {
  background: #0E0E0E;
  /* Drop Shadow/100 */
  display: flex;
  width: 100%;
  height: 62px;
  padding: 0px 220px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; }
  .menu__list {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .menu__list__item {
      padding: 11px; }
      .menu__list__item :hover {
        text-decoration: underline; }
      .menu__list__item__icon {
        padding-right: 6px;
        padding-left: 6px; }
    .menu__list__link {
      color: #ffffff; }
      .menu__list__link :hover {
        text-decoration: underline; }
      .menu__list__link__icon {
        color: #24bf5e; }

.hero__bgs {
  height: 100vh;
  width: 100%;
  object-fit: cover; }

.tickets__title {
  z-index: 0; }

.tickets__img__container {
  height: calc(100vh - 92px);
  max-width: 100%;
  position: absolute;
  z-index: 0; }

.tickets__img {
  width: 100%;
  height: calc(100vh - 92px);
  object-fit: cover; }

.tickets__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  z-index: 10; }

.tickets__slider {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden; }

.nosotros__container {
  width: 100%;
  flex-shrink: 0;
  background-color: #523CF2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  flex-shrink: 0; }
  .nosotros__container .section {
    width: 1013px;
    display: flex;
    flex-direction: column;
    gap: 55px; }
    .nosotros__container .section .nosotros__queeslapolenta {
      display: flex;
      padding: 0px 44px;
      flex-direction: column;
      align-items: center;
      gap: 33px;
      align-self: stretch; }
    .nosotros__container .section .cards {
      display: flex;
      gap: 11px; }
    .nosotros__container .section .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      border-radius: 15px;
      width: 245px;
      height: 455px; }
    .nosotros__container .section .card__container__imagen {
      width: 245px;
      height: 240px;
      overflow: hidden;
      align-content: center; }
    .nosotros__container .section .card__imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0; }
    .nosotros__container .section .card__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 11px;
      padding: 22px 15px; }
    .nosotros__container .section .card__icono {
      width: 50px;
      height: 40px; }

.puestas__img__container {
  height: calc(100vh - 92px);
  max-width: 100%;
  right: 0px;
  position: absolute;
  z-index: 0; }

.puestas__img {
  width: 100%;
  object-fit: cover; }

.puestas__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  position: relative; }
  .puestas__section .puestas__descripcion {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 22px;
    text-align: center; }
  .puestas__section .puestas__slider {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .puestas__section .puestas__slider__img {
      width: 1000px; }

.suscribite__section {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #24bf5e; }

.contacto__container {
  height: 704px;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px; }
  .contacto__section .contacto__escribinos__email {
    color: #24bf5e; }
  .contacto__section .contacto__redes {
    display: flex;
    flex-direction: column;
    gap: 22px; }
    .contacto__section .contacto__redes__iconos {
      display: flex;
      justify-content: center;
      gap: 11px; }

.footer {
  background-color: #1A1A1A; }
  .footer__section {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px 220px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; }
  .footer__legales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px; }
  .footer__title {
    padding-bottom: 3px; }

main {
  padding-top: 92px; }

.privacidad__container {
  background-color: #ffffff;
  padding: 66px 0px;
  padding-left: 220px;
  padding-right: 220px;
  height: auto;
  display: flex;
  flex-direction: column; }
