@font-face {
  font-family: "Devant_Horgen";
  src: url(/fonts/Devant_Horgen/Devant_Horgen.ttf); }

.menu__list__link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #ffffff; }
  .menu__list__link__icon {
    font-size: 20px; }

.title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 120%; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 120%; }
  .subtitle__bold {
    font-weight: 700; }

.card__title {
  font-size: 24px;
  color: #000000; }

.card__description {
  font-size: 14px;
  color: #000000;
  text-align: center; }

.footer {
  color: #B3B3B3; }
  .footer__title {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase; }
  .footer__subtitle {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.27px; }
  .footer__copyright__text {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.menu {
  background: #0E0E0E;
  /* Drop Shadow/100 */
  display: flex;
  height: 62px;
  padding: 0px 220px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; }
  .menu__list {
    display: flex;
    width: 68px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .menu__list__item :hover {
      text-decoration: underline; }
    .menu__list__link {
      color: #ffffff; }
      .menu__list__link :hover {
        text-decoration: underline; }
      .menu__list__link__icon {
        color: #24bf5e; }

.hero__bgs {
  width: 100%; }

.tickets__section {
  width: 100%;
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px; }

.tickets__slider {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-height: 795px;
  overflow-y: auto;
  overflow-x: hidden; }

.nosotros__container {
  width: 100%;
  height: 1180px;
  flex-shrink: 0;
  background-color: #523CF2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  flex-shrink: 0; }
  .nosotros__container .section {
    width: 1013px;
    display: flex;
    flex-direction: column;
    gap: 55px; }
    .nosotros__container .section .nosotros__queeslapolenta {
      display: flex;
      padding: 0px 44px;
      flex-direction: column;
      align-items: center;
      gap: 33px;
      align-self: stretch; }
    .nosotros__container .section .cards {
      display: flex;
      gap: 11px; }
    .nosotros__container .section .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      border-radius: 15px;
      width: 245px;
      height: 455px; }
    .nosotros__container .section .card__container__imagen {
      width: 245px;
      height: 240px;
      overflow: hidden;
      align-content: center; }
    .nosotros__container .section .card__imagen {
      width: 245px;
      height: 240px;
      border-radius: 15px 15px 0 0; }
    .nosotros__container .section .card__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 11px;
      padding: 22px 15px; }
    .nosotros__container .section .card__icono {
      width: 50px;
      height: 40px; }

.puestas__container {
  width: 100%;
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center; }

.puestas__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px; }
  .puestas__section .puestas__descripcion {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 22px;
    text-align: center; }
  .puestas__section .puestas__slider {
    width: 70%; }
    .puestas__section .puestas__slider__img {
      width: 100%; }

.suscribite__section {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24bf5e; }

.contacto__container {
  height: 704px;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px; }
  .contacto__section .contacto__escribinos__email {
    color: #24bf5e; }
  .contacto__section .contacto__redes {
    display: flex;
    flex-direction: column;
    gap: 22px; }
    .contacto__section .contacto__redes__iconos {
      display: flex;
      justify-content: center;
      gap: 11px; }

.footer__section {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0px 220px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; }

.footer__legales {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px; }
