@font-face {
  font-family: "Devant_Horgen";
  src: url(/fonts/Devant_Horgen/Devant_Horgen.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-padding-top: 6rem; }

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", serif; }
  body .container {
    max-width: 100%;
    margin: 0;
    padding: 0; }
  body ul {
    list-style: none; }
  body a {
    text-decoration: none; }
    body a__:visited {
      text-decoration: none; }
  body h2 {
    margin: 0; }
  body p {
    margin: 0; }
  body figure {
    margin: 0; }
  body .container__propio {
    width: 100%;
    height: auto;
    padding: 6rem 0; }
  body .suscribite__container {
    height: 15rem;
    padding: 0rem; }
  body .contacto__container {
    height: 32rem;
    padding: 0rem; }
  body .privacidad__container,
  body .proteccion__container {
    padding: 4rem 0rem;
    padding-left: 15rem;
    padding-right: 15rem; }

.header {
  position: fixed;
  width: 100%;
  background-color: #2828e8;
  z-index: 20; }
  .header__fixed {
    display: flex;
    flex-direction: column; }

.footer {
  width: 100%;
  height: 6rem;
  position: relative;
  background-color: #1A1A1A; }
  .footer__section {
    display: flex;
    padding: 0px 15rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; }
  .footer__legales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem; }
  .footer__title {
    padding-bottom: .2rem; }

.anouncement__text {
  color: #ffffff;
  font-size: 0.8rem; }

.menu__list__link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #ffffff; }
  .menu__list__link__icon {
    font-size: 1.25rem; }

.title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 120%; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 120%;
  text-align: center; }
  .subtitle__bold {
    font-weight: 700; }

.cta__text {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase; }

.card__title {
  font-size: 1.5rem;
  color: #000000; }

.card__description {
  font-size: 0.9rem;
  color: #000000;
  text-align: center; }

.footer {
  color: #B3B3B3; }
  .footer__title {
    color: #B3B3B3;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase; }
  .footer__subtitle {
    color: #B3B3B3;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: -0.27px; }
  .footer__copyright__text {
    color: #B3B3B3;
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: center; }

.go-to-top__text {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.36px;
  text-transform: uppercase; }

.privacidad, .proteccion {
  color: #000000; }
  .privacidad__title, .proteccion__title {
    padding: 3rem 0 2rem;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.4px; }
  .privacidad__subtitle, .proteccion__subtitle {
    font-size: 1.25rem;
    font-weight: 500; }
  .privacidad__description, .proteccion__description {
    padding-bottom: 2rem;
    text-align: justify; }

.go-to-top {
  position: fixed;
  width: 9.5rem;
  height: 2.9rem;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .6rem;
  gap: .3rem;
  background-color: transparent;
  border: none; }

.back-to-home {
  width: 9.5rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-top: 4rem; }
  .back-to-home__text {
    color: #000000;
    font-size: 1rem; }
  .back-to-home__icon {
    padding-right: .3rem;
    color: #000000; }

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  background: #1A1A1A;
  border: 0.2rem #ffffff solid;
  border-radius: .3rem; }
  .cta__text {
    width: 11.5rem;
    padding: 1.25rem 1.9rem;
    color: #ffffff;
    text-decoration: none; }
    .cta__text__:visited {
      text-decoration: none; }

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .ticket:hover .ticket__img__container {
    opacity: .25;
    z-index: 0; }

.ticket__img__container {
  max-width: 100%;
  background-color: #000000;
  z-index: 10;
  opacity: 1;
  transition: all 1s ease; }

.ticket__img {
  width: 100%;
  object-fit: cover; }

.ticket__button {
  z-index: 0;
  position: absolute; }
  .ticket__button:hover {
    z-index: 10; }
    .ticket__button:hover .ticket__img__container {
      opacity: .25; }

.anouncement__container {
  display: flex;
  align-items: center;
  height: 2rem;
  animation: scrolling 30s linear infinite; }

@keyframes scrolling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.anouncement__item {
  flex-shrink: 0;
  padding-left: 25vw; }

.menu {
  background: #0E0E0E;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0rem 15rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; }
  .menu__burger {
    color: #24bf5e; }
    .menu__burger .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    .menu__burger:focus {
      box-shadow: none; }
  .menu__list {
    display: flex;
    padding: .3rem .6rem;
    justify-content: center;
    align-items: center;
    gap: .6rem; }
    .menu__list__item {
      padding: .7rem; }
      .menu__list__item :hover {
        text-decoration: underline; }
      .menu__list__item__icon {
        padding-right: .4rem;
        padding-left: .4rem; }
    .menu__list__link {
      color: #ffffff; }
      .menu__list__link :hover {
        text-decoration: underline; }
      .menu__list__link__icon {
        color: #24bf5e; }

.hero__bgs {
  height: 100vh;
  width: 100%;
  object-fit: cover; }

.tickets__container {
  background-image: url("/imgs/bgs/bg-tickets.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: contain; }

.tickets__title {
  z-index: 0; }

.tickets__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75rem;
  z-index: 10; }

.tickets__slider {
  width: 44rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 47rem;
  overflow-y: auto;
  overflow-x: hidden; }

.nosotros__container {
  width: 100%;
  flex-shrink: 0;
  background-color: #523CF2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  flex-shrink: 0; }
  .nosotros__container .section {
    width: 64rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem; }
    .nosotros__container .section .nosotros__queeslapolenta {
      display: flex;
      padding: 0rem 2.75rem;
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      align-self: stretch; }
    .nosotros__container .section .cards {
      display: flex;
      gap: .75rem; }
    .nosotros__container .section .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      width: 15.5rem; }
    .nosotros__container .section .card__container__imagen {
      width: 15.5rem;
      height: 15rem;
      overflow: hidden;
      align-content: center; }
    .nosotros__container .section .card__imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0; }
    .nosotros__container .section .card__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .75rem;
      padding: 1.5rem 1rem; }
    .nosotros__container .section .card__icono {
      width: 3rem; }

.puestas__container {
  background-image: url("/imgs/bgs/bg-puestas.png");
  background-repeat: no-repeat;
  background-position-x: right; }

.puestas__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative; }
  .puestas__section .puestas__descripcion {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    text-align: center; }
  .puestas__section .slider {
    width: 80%;
    display: flex; }
    .puestas__section .slider .puestas__slider__img {
      width: 100%; }

.suscribite__container {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #24bf5e; }

.contacto__container {
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  .contacto__section .contacto__escribinos__email {
    color: #24bf5e; }
  .contacto__section .contacto__redes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    .contacto__section .contacto__redes__iconos {
      display: flex;
      justify-content: center;
      gap: .7rem; }

main {
  padding-top: 6rem; }

.privacidad__container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; }

main {
  padding-top: 6rem; }

.proteccion__container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 390px) {
  .anouncement__text {
    color: #ffffff;
    font-size: 0.8rem; }
  .menu__list__link {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #ffffff; }
    .menu__list__link__icon {
      font-size: 1.25rem; }
  .title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 120%;
    text-align: center; }
  .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 120%;
    text-align: center; }
    .subtitle__bold {
      font-weight: 700; }
  .cta__text {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase; }
  .card__title {
    font-size: 1.1rem;
    color: #000000; }
  .card__description {
    font-size: 0.7rem;
    color: #000000;
    text-align: center; }
  .footer {
    color: #B3B3B3; }
    .footer__title {
      color: #B3B3B3;
      font-size: 0.6rem;
      font-weight: 600;
      letter-spacing: 1.8px;
      text-transform: uppercase; }
    .footer__subtitle {
      color: #B3B3B3;
      font-size: 0.6rem;
      font-weight: 500;
      letter-spacing: -0.27px; }
    .footer__copyright__text {
      color: #B3B3B3;
      font-size: 0.6rem;
      font-weight: 500;
      letter-spacing: -0.3px;
      text-align: center; }
  .go-to-top__text {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: -0.36px;
    text-transform: uppercase; }
  .privacidad,
  .proteccion {
    color: #000000; }
    .privacidad__title,
    .proteccion__title {
      padding: 3rem 0 2rem;
      font-size: 2.25rem;
      font-weight: 600;
      letter-spacing: -0.4px; }
    .privacidad__subtitle,
    .proteccion__subtitle {
      font-size: 1.25rem;
      font-weight: 500; }
    .privacidad__description,
    .proteccion__description {
      padding-bottom: 2rem;
      text-align: justify; } }

@media only screen and (max-width: 390px) {
  .menu {
    padding: 0 1.5rem; }
    .menu__list {
      background: #0E0E0E;
      align-items: flex-start; }
      .menu__list__item :hover {
        text-decoration: underline; }
      .menu__list__item__icon {
        padding-right: .4rem;
        padding-left: .4rem; }
      .menu__list__link {
        color: #ffffff; }
        .menu__list__link :hover {
          text-decoration: underline; }
        .menu__list__link__icon {
          color: #24bf5e; } }

@media only screen and (min-width: 391px) and (max-width: 991px) {
  .menu {
    padding: 0 1.5rem; }
    .menu__list {
      background: #0E0E0E;
      align-items: flex-start; }
      .menu__list__item :hover {
        text-decoration: underline; }
      .menu__list__item__icon {
        padding-right: .4rem;
        padding-left: .4rem; }
      .menu__list__link {
        color: #ffffff; }
        .menu__list__link :hover {
          text-decoration: underline; }
        .menu__list__link__icon {
          color: #24bf5e; } }

@media only screen and (max-width: 390px) {
  .container__propio {
    height: auto;
    padding: 6rem 0; }
  .suscribite__container {
    height: 15rem;
    padding: 0rem; }
  .contacto__container {
    height: 32rem;
    padding: 0rem; }
  .privacidad__container,
  .proteccion__container {
    padding: 4rem 0rem;
    padding-left: 15rem;
    padding-right: 15rem; } }

@media only screen and (max-width: 390px) {
  .tickets__container {
    background-image: url("/imgs/bgs/bg-tickets.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: contain; }
  .tickets__title {
    z-index: 0; }
  .tickets__section {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    z-index: 10; }
  .tickets__slider {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto; } }

@media only screen and (max-width: 390px) {
  .ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
  .ticket__img__container {
    max-width: 100%;
    background-color: #000000;
    z-index: 10; }
  .ticket__img {
    width: 100%;
    object-fit: cover; }
  .ticket__button {
    z-index: 0;
    position: absolute; }
    .ticket__button:hover {
      z-index: 10; }
      .ticket__button:hover .ticket__img__container {
        opacity: .25; } }

@media only screen and (max-width: 390px) {
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    background: #1A1A1A;
    border: 0.2rem #ffffff solid;
    border-radius: .3rem; }
    .cta__text {
      width: 11.5rem;
      padding: 1.25rem 1.9rem;
      color: #ffffff;
      text-decoration: none; }
      .cta__text__:visited {
        text-decoration: none; } }

@media only screen and (max-width: 390px) {
  .nosotros__container {
    flex-shrink: 0;
    background-color: #523CF2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    flex-shrink: 0; }
    .nosotros__container .section {
      width: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem; }
      .nosotros__container .section .nosotros__queeslapolenta {
        display: flex;
        padding: 0rem;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        align-self: stretch; }
      .nosotros__container .section .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem; }
      .nosotros__container .section .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 23rem; }
      .nosotros__container .section .card__container__imagen {
        width: 11.5rem;
        height: 11.25rem;
        overflow: hidden;
        align-content: center; }
      .nosotros__container .section .card__imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem 0 0 1rem; }
      .nosotros__container .section .card__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .3rem;
        padding: .75rem .5rem;
        width: 12.4rem;
        height: 11.25rem; }
      .nosotros__container .section .card__icono {
        width: 3rem; } }

@media only screen and (max-width: 390px) {
  .footer {
    width: 100%;
    height: 25rem;
    padding: 2rem;
    position: relative;
    background-color: #1A1A1A; }
    .footer__section {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
      gap: 2rem;
      flex-shrink: 0; }
    .footer__legales {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .75rem; }
    .footer__title {
      padding-bottom: .2rem; }
    .footer__copyright__text {
      margin: 0; } }

@media only screen and (max-width: 390px) {
  .go-to-top {
    position: fixed;
    width: 9.5rem;
    height: 2.9rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    gap: .3rem;
    background-color: transparent;
    border: none; } }
