* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     .img__mobile {
          display: block;
     }

     .img__tablet {
          display: none;
     }

     .img__desktop {
          display: none;
     }

     .img__mobile__footer {
          display: block;
     }

     .img__tablet__footer {
          display: none;
     }

     .img__desktop__footer {
          display: none;
     }

     .img__festival__390 {
          display: block;
     }

     .img__festival__576 {
          display: none;
     }

     .img__festival__768 {
          display: none;
     }

     .img__festival__990 {
          display: none;
     }

     .img__festival__1440 {
          display: none;
     }

     .img__festival__1920 {
          display: none;
     }

     .festival__img__logo__576 {
          display: block;
     }

     .festival__img__logo__768 {
          display: none;
     }
}

html {
     scroll-padding-top: 6rem; //calc($height-anouncement + $height-top-nav);
     scroll-behavior: smooth;
}

body {
     background-color: $color-bg;
     color: $color-text;
     font-family: $font-principal;

     .container {
          max-width: 100%;
          margin: 0;
          padding: 0;
     }

     ul {
          list-style: none;
     }

     a {
          text-decoration: none;

          &:hover {
               text-decoration: none;
               color: $color-text;
          }

          &:visited {
               text-decoration: none;
          }
     }

     h2 {
          margin: 0;
     }

     p {
          margin: 0;
     }

     figure {
          margin: 0;
     }

     // .hero__section {
     //      margin: 0;
     // }

     // .hero__article {
     //      margin: 0;

     //      figure {
     //           margin: 0%;
     //      }
     // }

     // video {
     //      margin: 0;
     // }

     .container__propio {
          width: 100%;
          height: auto;

          padding: 6rem 0;

          &__hero {
               padding: 0rem;

               line-height: 0;
          }

          &__festival {
               padding: 0rem;
          }
     }

     .suscribite__container {
          // height: 15rem;

          padding: 6rem 0;
     }

     .contacto__container {
          // height: 32rem;

          // padding: 0rem;
          padding: 6rem 0;
     }
}