* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-padding-top: 6rem; //calc($height-anouncement + $height-top-nav);
}

body {
     background-color: $color-bg;
     color: $color-text;
     font-family: $font-principal;

     .container {
          max-width: 100%;
          margin: 0;
          padding: 0;
     }

     ul {
          list-style: none;
     }

     a {
          text-decoration: none;

          &__:visited {
               text-decoration: none;
          }
     }

     h2 {
          margin: 0;
     }

     p {
          margin: 0;
     }

     figure {
          margin: 0;
     }

     .container__propio {
          width: 100%;
          height: auto;

          padding: 6rem 0;
     }

     .suscribite__container {
          // height: 15rem;

          padding: 6rem 0;
     }

     .contacto__container {
          height: 32rem;

          padding: 0rem;
     }

     .privacidad__container,
     .proteccion__container {
          padding: 4rem 0rem;

          padding-left: 15rem;
          padding-right: 15rem;
     }

     // .proteccion__container{
     //      padding: 15rem 0rem;

     //      padding-left: 15rem;
     //      padding-right: 15rem;
     // }
}