* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-padding-top: 92px;
}

body {
     background-color: $color-bg;
     color: $color-text;
     font-family: $font-principal;
}

ul {
     list-style: none;
}

a {
     text-decoration: none;

     &__:visited {
          text-decoration: none;
     }
}

.container {
     height: 100%;
}