// @media only screen and (min-width: 576px) and (max-width: 767px) 
// @media only screen and (min-width: 768px) and (max-width: 1199px)
// @media only screen and (min-width: 1200px) and (max-width: 1399px) 
// @media only screen and (min-width: 1400px) 

//menu 390px - 991px 
@media only screen and (min-width: 992px) {
     .menu {
          //.top-nav
          background: $color-bg-top-nav;

          padding: .25% 15% 0;

          .navbar-collapse {
               height: auto;
          }

          &__list {
               padding-top: 0;

               &__item {
                    & :hover {
                         text-decoration: underline;
                         // transform: scale(1.2);
                    }
               }

               .nav-link:hover {
                    color: $color-text;
                    // text-decoration: none;
                    text-decoration: underline;
               }

               .nav-link:visited {
                    text-decoration: none;
               }
          }

          &__list__redes {
               column-gap: 0rem;
          }
     }
}

//imagenes 
@media only screen and (min-width: 576px) and (max-width: 991px) {
     * {
          .img__mobile {
               display: none;
          }

          .img__tablet {
               display: block;
          }

          .img__desktop {
               display: block;
          }

          .img__mobile__footer {
               display: none;
          }
     
          .img__tablet__footer {
               display: block;
          }
     
          .img__desktop__footer {
               display: none;
          }
     }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
     * {
          .img__mobile {
               display: none;
          }

          .img__tablet {
               display: block;
          }

          .img__desktop {
               display: block;
          }

          .img__mobile__footer {
               display: none;
          }
     
          .img__tablet__footer {
               display: none;
          }
     
          .img__desktop__footer {
               display: block;
          }
     }
}

@media only screen and (min-width: 1200px) {
     * {
          .img__mobile {
               display: none;
          }

          .img__tablet {
               display: none;
          }

          .img__desktop {
               display: block;
          }

          .img__mobile__footer {
               display: none;
          }
     
          .img__tablet__footer {
               display: none;
          }
     
          .img__desktop__footer {
               display: block;
          }
     }
}