// @media only screen and (min-width: 576px) and (max-width: 767px) 
// @media only screen and (min-width: 768px) and (max-width: 1199px)
// @media only screen and (min-width: 1200px) and (max-width: 1399px) 
// @media only screen and (min-width: 1400px) 

//menu 390px - 991px 
@media only screen and (min-width: 992px) {
     .menu {
          //.top-nav
          background: $color-bg-top-nav;

          padding: .25% 15% 0;

          .navbar-collapse {
               height: auto;
          }

          &__list {
               padding-top: 0;

               &__item {
                    & :hover {
                         text-decoration: underline;
                         // transform: scale(1.2);
                    }
               }

               .nav-link:hover {
                    color: $color-text;
                    // text-decoration: none;
                    text-decoration: underline;
               }

               .nav-link:visited {
                    text-decoration: none;
               }
          }

          &__list__redes {
               column-gap: 0rem;
          }
     }
}

//imagenes 
@media only screen and (min-width: 576px) and (max-width: 991px) {
     * {
          .img__mobile {
               display: block;
          }

          .img__tablet {
               display: block;
          }

          .img__desktop {
               display: none;
          }

          .img__mobile__footer {
               display: none;
          }

          .img__tablet__footer {
               display: block;
          }

          .img__desktop__footer {
               display: none;
          }
     }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
     * {
          .img__mobile {
               display: none;
          }

          .img__tablet {
               display: none;
          }

          .img__desktop {
               display: block;
          }

          .img__mobile__footer {
               display: none;
          }

          .img__tablet__footer {
               display: none;
          }

          .img__desktop__footer {
               display: block;
          }
     }
}

@media only screen and (min-width: 1200px) {
     * {
          .img__mobile {
               display: none;
          }

          .img__tablet {
               display: none;
          }

          .img__desktop {
               display: block;
          }

          .img__mobile__footer {
               display: none;
          }

          .img__tablet__footer {
               display: none;
          }

          .img__desktop__footer {
               display: block;
          }
     }
}

//festival 
// mobile-first
// 390 x 927 
// @media only screen and (min-width: 390px) and (max-width: 575px) 
// 576 x 927 
// @media only screen and (min-width: 576px) and (max-width: 767px) 
// 768 x 819 
// @media only screen and (min-width: 768px) and (max-width: 989px)
// 990 x 1024
// @media only screen and (min-width: 990px) and (max-width: 1439px) 
// 1440 x 1024 
// @media only screen and (min-width: 1440px) 
// 1920 x 1080 

@media only screen and (min-width: 390px) and (max-width: 575px) {
     * {
          .img__festival__390 {
               display: none;
          }

          .img__festival__576 {
               display: block;
          }

          .img__festival__768 {
               display: none;
          }

          .img__festival__990 {
               display: none;
          }

          .img__festival__1440 {
               display: none;
          }

          .img__festival__1920 {
               display: none;
          }
     }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
     * {
          .img__festival__390 {
               display: none;
          }

          .img__festival__576 {
               display: none;
          }

          .img__festival__768 {
               display: block;
          }

          .img__festival__990 {
               display: none;
          }

          .img__festival__1440 {
               display: none;
          }

          .img__festival__1920 {
               display: none;
          }

          .festival__img__logo__576 {
               display: none;
          }

          .festival__img__logo__768 {
               display: block;
          }
     }
}

@media only screen and (min-width: 768px) and (max-width: 989px) {
     * {
          .img__festival__390 {
               display: none;
          }

          .img__festival__576 {
               display: none;
          }

          .img__festival__768 {
               display: none;
          }

          .img__festival__990 {
               display: block;
          }

          .img__festival__1440 {
               display: none;
          }

          .img__festival__1920 {
               display: none;
          }

          .festival__img__logo__576 {
               display: none;
          }

          .festival__img__logo__768 {
               display: block;
          }
     }
}

@media only screen and (min-width: 990px) and (max-width: 1439px) {
     * {
          .img__festival__390 {
               display: none;
          }

          .img__festival__576 {
               display: none;
          }

          .img__festival__768 {
               display: none;
          }

          .img__festival__990 {
               display: none;
          }

          .img__festival__1440 {
               display: block;
          }

          .img__festival__1920 {
               display: none;
          }

          .festival__img__logo__576 {
               display: none;
          }

          .festival__img__logo__768 {
               display: block;
          }
     }
}

@media only screen and (min-width: 1440px) {
     * {
          .img__festival__390 {
               display: none;
          }

          .img__festival__576 {
               display: none;
          }

          .img__festival__768 {
               display: none;
          }

          .img__festival__990 {
               display: none;
          }

          .img__festival__1440 {
               display: none;
          }

          .img__festival__1920 {
               display: block;
          }

          .festival__img__logo__576 {
               display: none;
          }

          .festival__img__logo__768 {
               display: block;
          }
     }
}