.anouncement {
     &__container {
          display: flex;
          align-items: center;

          height: $height-anouncement; //2rem;
          // background-color: $color-bg-anouncement;

          animation: scrolling 30s linear infinite;

          @keyframes scrolling {
               0% {
                    transform: translateX(0)
               }

               100% {
                    transform: translateX(-100%)
               }
          }
     }

     &__item {
          flex-shrink: 0;

          padding-left: 25vw;
     }
}