.contacto {
     &__container {
          display: flex;
          justify-content: center;
          align-items: center;
     }

     &__section {
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;

          .contacto__escribinos__email {
               color: $color-primary-verde;
          }

          .contacto__redes {
               display: flex;
               flex-direction: column;
               gap: 1.5rem;

               &__iconos {
                    display: flex;
                    justify-content: center;
                    gap: .7rem;
               }
          }
     }
}