// mobile-first
// 390 x 927 -- 390 x 561 -- 60% 
// @media only screen and (min-width: 390px) and (max-width: 575px) 
// 576 x 927 -- 474 x 703 -- 75% 
// @media only screen and (min-width: 576px) and (max-width: 767px) 
// 768 x 819 -- 609 x 622 --75% 
// @media only screen and (min-width: 768px) and (max-width: 989px)
// 990 x 1024 -- 765 x 721 --70% 
// @media only screen and (min-width: 990px) and (max-width: 1399px) 
// 1440 x 1024 -- 845 x 778 --76% 
// @media only screen and (min-width: 1400px) 
// 1920 x 1080 


.festival {
     &__container {
          padding: 0rem;
     }

     &__img__container {
          position: relative;
          width: 100%;
          height: auto;

          img {
               width: 100%;
               height: auto;
          }
     }

     &__text__container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;

          display: flex;
          flex-direction: column;
          row-gap: 2.75rem;
          align-items: center;
     }

     .festival__img__logo {
          width: 62%; //244 
     }

     .festival__img__lineup {
          width: 83%; //327 
     }

     .festival__img__frase {
          width: 77%; //304 
     }
}

@media only screen and (min-width: 390px) and (max-width: 575px) {
     .festival {
          .festival__img__logo {
               width: 54%; //311 
          }

          .festival__img__lineup {
               width: 82%; //474 
          }

          .festival__img__frase {
               width: 76%; //440 
          }
     }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
     .festival {
          .festival__img__logo {
               width: 73%; //561 
          }

          .festival__img__lineup {
               width: 79%; //609 
          }

          .festival__img__frase {
               width: 50%; //389 
          }
     }
}

@media only screen and (min-width: 768px) and (max-width: 989px) {
     .festival {
          .festival__img__logo {
               width: 64%; //637 
          }

          .festival__img__lineup {
               width: 77%; //765 
          }

          .festival__img__frase {
               width: 49%; //489 
          }
     }
}

@media only screen and (min-width: 990px) and (max-width: 1439px) {
     .festival {
          .festival__img__logo {
               width: 44%; //637 
          }

          .festival__img__lineup {
               width: 58%; //845 
          }

          .festival__img__frase {
               width: 37%; //541 
          }
     }
}

@media only screen and (min-width: 1440px) {
     .festival {
          .festival__img__logo {
               width: 33%; //637 
          }

          .festival__img__lineup {
               width: 44%; //845 
          }

          .festival__img__frase {
               width: 28%; //541 
          }
     }
}