// @media only screen and (min-width: 576px) and (max-width: 767px) 
// @media only screen and (min-width: 768px) and (max-width: 1199px)
// @media only screen and (min-width: 1200px) and (max-width: 1399px) 
// @media only screen and (min-width: 1400px) 


.footer {
     width: 100%;
     height: auto;
     padding: 2rem 2rem 4rem 2rem;

     position: relative;

     background-color: $color-terciary-negro;

     &__section {
          @include grillas__simetricas(1, auto, 3, auto, 0, 2rem);
          grid-template-areas:
               "area__first"
               "area__center"
               "area__last";
     }

     &__legales {
          grid-area: area__center;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: .75rem;
     }

     &__copyright {
          grid-area: area__last;
     }

     &__logo {
          grid-area: area__first;
     }

     &__title {
          padding-bottom: .2rem;
     }

     &__copyright__text {
          margin: 0;
     }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
     .footer {
          height: 6.25rem;
          padding: 0;
          align-content: center;

          &__section {
               display: flex;
               flex-direction: row;
               padding: 0px 13rem;
               justify-content: space-between;
               align-items: center;
               flex-shrink: 0;
          }

          &__legales {
               grid-area: area__first;

               display: flex;
               flex-direction: column;
               align-items: flex-start;
               gap: .2rem;
          }

          &__copyright {
               grid-area: area__center;
          }

          &__logo {
               grid-area: area__last;

               display: flex;
               flex-direction: column;
          }

          &__title {
               padding-bottom: .2rem;
          }
     }
}

@media only screen and (min-width: 1200px) {
     .footer {
          height: 6.25rem;
          padding: 0;
          align-content: center;

          &__section {
               display: flex;
               flex-direction: row;
               padding: 0px 15rem;
               justify-content: space-between;
               align-items: center;
               flex-shrink: 0;
          }

          &__legales {
               grid-area: area__first;

               display: flex;
               flex-direction: column;
               align-items: flex-start;
               gap: .2rem;
          }

                    &__copyright {
               grid-area: area__center;
          }

          &__logo {
               grid-area: area__last;

               display: flex;
               flex-direction: column;
          }

          &__title {
               padding-bottom: .2rem;
          }
     }
}