.footer {
     background-color: $color-terciary-negro;
     
     &__section {
          display: flex;
          // width: 1440px;
          width: 100%;
          height: 100px;
          padding: 0px 220px;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
     }

     &__legales {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 3px;
     }
}