main {
     padding-top: 6rem; //$height-header;
}

.privacidad {
     &__container {
          background-color: $color-fondo-card;

          display: flex;
          flex-direction: column;
     }
}