.puestas {
     &__container {
          background-image: url('/imgs/bgs/bg-puestas.png');
          background-repeat: no-repeat;
          background-position-x: right;
     }

     &__section {
          width: 100%;
          // padding: 0 15rem;

          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 2rem;

          position: relative;

          .puestas__descripcion {
               display: flex;
               flex-direction: column;
               row-gap: 1.5rem;

               text-align: center;

               padding: 0 18%;
          }

          .slider {
               display: flex;

               padding: 0 15%;

               .puestas__slider {
                    &__img {
                         width: 100%;

                         border-radius: 1.25rem;
                    }
               }

               .carousel-inner {
                    .carousel-item {
                         img {
                              width: 100%;

                              border-radius: 1.25rem;
                         }
                    }
               }

               .carousel-indicators {
                    button {
                         background-color: $color-primary-verde;
                    }
               }

               .carousel-control-prev {
                    transform: rotate(270deg);

                    left: 18%;

                    width: auto;
                    height: auto;

                    & :hover {
                         color: $color-primary-verde;
                    }

                    .carousel-control-prev-icon {
                         background-image: url("/imgs/icons/scroll-top.png");
                    }
               }

               .carousel-control-next {
                    transform: rotate(90deg);

                    right: 18%;

                    width: auto;
                    height: auto;

                    & :hover {
                         color: $color-primary-verde;
                    }

                    .carousel-control-next-icon {
                         background-image: url("/imgs/icons/scroll-top.png");
                    }
               }
          }

          // &__slide {
          //      &__texto {
          //           background-color: rgb(30, 30, 30);
          //           width: 100%;
          //           left: 0;
          //           bottom: 5%;
          //      }
          //      &__link {
          //           font-size: x-large;
          //           font-stretch: extra-expanded;
          //           // font-weight: bold;
          //      }
          //      &__link:hover {
          //           color: rgb(200, 200, 200);
          //      }
          // }
     }
}