.suscribite {
     &__container {
          width: 100%;
          height: 20rem;

          display: flex;
          align-items: center;
          justify-content: center;

          position: relative;

          background-color: $color-primary-verde;
     }
}