.suscribite {
     &__container {
          // width: 100%;
          // height: 20rem;

          background-color: $color-primary-verde;
     }

     &__card {
          display: flex;
          flex-direction: column;
          align-items: center;

          row-gap: 2rem;
     }
}