.tickets {
     &__container {
          background-image: url("/imgs/bgs/bg-tickets.png");

          // background: url("/imgs/bgs/bg-tickets.png") lightgray -199.37px 0px / 128.811% 100% no-repeat;
     }

     &__section {
          width: 100%;
          height: 1024px;

          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          gap: 44px;
     }

     &__slider {
          width: 700px;

          display: flex;
          flex-direction: column;
          gap: 22px;

          max-height: 795px;
          overflow-y: auto;
          overflow-x: hidden;
     }
}