.menu {
     // position: fixed;
     //.top-nav
     background: $color-bg-top-nav;

     display: flex;
     width: 100%;
     height: $height-top-nav; //4rem;
     padding: 0rem 15rem;
     justify-content: space-between;
     align-items: center;
     flex-shrink: 0;

     &__list {
          //.navbar-nav
          display: flex;
          padding: .3rem .6rem;
          justify-content: center;
          align-items: center;
          gap: .6rem;

          &__item {
               padding: .7rem;

               & :hover {
                    text-decoration: underline;
               }

               &__icon {
                    padding-right: .4rem;
                    padding-left: .4rem;
               }
          }

          &__link {
               color: $color-text;

               & :hover {
                    text-decoration: underline;
               }

               &__icon {
                    color: $color-primary-verde;
               }
          }
     }
}