.back-to-home{
     // position: fixed;
     width: 153px;
     height: 46px;

     // bottom: 25px;
     // right: 25px;

     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
     // gap: 11px;

     background-color: transparent;
     border: none;

     padding-top: 66px;
     &__text {
          color: $color-text-negro;
          font-size: $font-size;
     }

     &__icon {
          padding-left: 5px;
          padding-right: 5px;
          
          color: $color-text-negro;
     }
}