.back-to-home{
     // position: fixed;
     width: 9.5rem;
     height: 2.9rem;

     display: flex;
     align-items: center;

     background-color: transparent;
     border: none;

     // padding-top: 4rem;
     &__text {
          color: $color-text-negro;
          font-size: $font-size;
     }

     &__icon {
          padding-right: .3rem;
          
          color: $color-text-negro;
     }
}