.cta {
     display: flex;
     justify-content: center;
     align-items: center;
     // gap: .6rem;

     background: $color-terciary-negro;

     border: .2rem $color-text solid;
     border-radius: .3rem;

     &__text {
          width: 11.5rem;
          padding: 1.25rem 1.9rem;

          color: $color-text;
          text-decoration: none;

          &__:visited {
               text-decoration: none;
          }
     }
}