.cta {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;

     background: $color-terciary-negro;

     border: 3px $color-text solid;
     border-radius: 5px;

     &__text {
          width: 180px;
          padding: 20px 30px;

          color: $color-text;
          text-decoration: none;

          &__:visited {
               text-decoration: none;
          }
     }

}