// @media only screen and (min-width: 576px) and (max-width: 767px) 
// @media only screen and (min-width: 768px) and (max-width: 1199px)
// @media only screen and (min-width: 1200px) and (max-width: 1399px) 
// @media only screen and (min-width: 1400px) 


.cta__festival {
     display: flex;
     justify-content: center;
     align-items: center;

     background: $color-primary-verde;

     border: .2rem $color-primary-verde solid;
     border-radius: 3rem;

     width: 14.5rem; //220 
     height: 3rem; //49 

     &__text {
          letter-spacing: 0.96px;
          text-transform: uppercase;
          text-align: center;

          padding: .6rem 1.25rem;

          color: $color-text;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
     }

     &:hover {
          background-color: $color-terciary-negro;
          border: .2rem $color-text solid;
     }
}
