// @media only screen and (min-width: 576px) and (max-width: 767px) 
// @media only screen and (min-width: 768px) and (max-width: 1199px)
// @media only screen and (min-width: 1200px) and (max-width: 1399px) 
// @media only screen and (min-width: 1400px) 


.cta {
     display: flex;
     justify-content: center;
     align-items: center;
     // gap: .6rem;

     background: $color-terciary-negro;

     border: .2rem $color-text solid;
     border-radius: .3rem;

     &__text {
          width: 8rem;
          padding: .75rem 1.9rem;

          color: $color-text;
          text-decoration: none;

          &__:visited {
               text-decoration: none;
          }
     }

     &__suscribite {
          border: .2rem $color-terciary-negro solid;


          &__text {
               padding: .75rem;
          }
     }
}

@media only screen and (min-width: 576px) {

     //and (max-width: 1199px) {
     .cta {
          display: flex;
          justify-content: center;
          align-items: center;
          // gap: .6rem;

          background: $color-terciary-negro;

          border: .2rem $color-text solid;
          border-radius: .3rem;

          &__text {
               width: 11.5rem;
               padding: 1.25rem 1.9rem;

               color: $color-text;
               text-decoration: none;

               &__:visited {
                    text-decoration: none;
               }
          }

          &__suscribite {
               border: none; // .2rem $color-terciary-negro solid;
          }
     }
}