.go-to-top{
     position: fixed;
     width: 9.5rem;
     height: 2.9rem;

     bottom: 1.5rem;
     right: 1.5rem;

     display: flex;
     align-items: center;
     justify-content: center;
     padding: .6rem;
     gap: .3rem;

     background-color: transparent;
     border: none;
}