.header{
     position: fixed;
     width: 100%;

     // overflow: hidden;

     background-color: $color-bg-anouncement;

     z-index: 20;

     &__fixed {
          display: flex;
          flex-direction: column;
     }
}