.noescualquierfiesta {
     color: $color-text;
     font-family: $text-noescualquierfiesta;
     font-size: 3.7rem;
     font-style: normal;
     font-weight: 700;
     line-height: 120%;
     letter-spacing: .75rem;
     text-transform: uppercase;
}