.noescualquierfiesta {
     color: $color-text;
     font-family: $text-noescualquierfiesta;
     font-size: 59px;
     font-style: normal;
     font-weight: 700; //var(--sds-typography-title-hero-font-weight);
     line-height: 120%;
     /* 70.8px */
     letter-spacing: 11.8px;
     text-transform: uppercase;
}