// @media only screen and (min-width: 576px) and (max-width: 767px) 
// @media only screen and (min-width: 768px) and (max-width: 1199px)
// @media only screen and (min-width: 1200px) and (max-width: 1399px) 
// @media only screen and (min-width: 1400px) 


// .mix-font {
//   font-family: "FuentePrincipal";
//   font-size: 64px;
//   line-height: 1;
// }

// .mix-font .alt {
//   font-family: "FuenteSecundaria";

//   /* Ajuste fino */
//   font-size: 0.92em;

//   /* Corrección vertical */
//   position: relative;
//   top: 0.02em;
// }

.font__alternative {
     font-family: $font-alternative;
     font-optical-sizing: auto;
     font-style: italic;
     font-weight: bold;

     &__anouncement {
          font-size: ($font-size * 2.4);
     }

     &__card {
          font-size: ($font-size * 2.625);
     }
}

.anouncement {
     &__text {
          color: $color-terciary-negro;
          font-size: ($font-size * 2);
          letter-spacing: -3%;
     }
}

.menu {
     &__logo {
          height: ($font-size * 2.25);
     }

     &__list {
          &__link {
               font-size: ($font-size * 1.4);
               font-weight: 400;
               letter-spacing: -0.3px;
               color: $color-text;

               text-transform: uppercase;

               &__alternative {
                    font-family: $font-alternative;
                    font-optical-sizing: auto;
                    font-style: italic;
                    font-weight: bold;

                    font-size: 1.15em;
                    position: relative;

                    margin-left: 0.06em;
                    margin-right: 0.07em;

                    &__contacto {
                         margin-right: 0em;
                    }
               }

               &__icon {
                    font-size: ($font-size * 1.25);
                    color: $color-accent-rojo;
               }
          }
     }
}

.title {
     font-size: $font-size-title-celular-mini;
     font-weight: 400;
     line-height: 110%;
     text-align: center;

     &__tickets {
          font-size: ($font-size * 6.25);
          line-height: 110%;
     }

     &__alternative {
          font-family: $font-alternative;
          font-optical-sizing: auto;
          font-style: italic;
          font-weight: bold;

          font-size: 1.2em;
          position: relative;
          top: 0.02em;

          margin-right: 0.025em;
     }
}

.subtitle {
     font-family: $font-secondary;
     font-size: $font-size-subtitle-celular;
     font-weight: 300;
     letter-spacing: -0.48px;
     line-height: 120%;
     text-align: center;

     &__bold {
          font-weight: 500;
     }
}

.cta {
     &__text {
          font-size: ($font-size * 1.2);
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          line-height: 120%;
     }
}

.card {
     &__title {
          font-size: ($font-size * 2.25);
          color: $color-text-negro;
          text-align: center;
     }

     &__description {
          font-family: $font-secondary;
          font-size: ($font-size * .9);
          line-height: 1.2em;
          color: $color-text-negro;
          text-align: center;
     }
}

.footer {
     color: $color-terciary-gris;

     &__title {
          color: $color-terciary-gris;

          font-size: ($font-size * .6);
          font-weight: 600;
          text-transform: uppercase;

          margin-bottom: 0;
     }

     &__subtitle {
          color: $color-terciary-gris;

          font-size: ($font-size * .6);
          font-weight: 500;
          letter-spacing: -0.27px;
     }

     &__copyright__text {
          color: $color-terciary-gris;

          font-size: ($font-size * .6);
          font-weight: 500;
          letter-spacing: -0.3px;
          text-align: center;
     }
}

.go-to-tickets {
     &__text {
          color: $color-text;
          font-size: ($font-size * .875);
          font-weight: 400;
          letter-spacing: 0;
          text-transform: uppercase;
     }
}

.privacidad,
.proteccion {
     color: $color-text-negro;

     &__title {
          padding: 3rem 0 2rem;
          text-align: left;

          font-size: ($font-size * 2);
     }

     &__subtitle {
          font-size: ($font-size * .9);
          font-weight: 500;
     }

     &__description {
          font-family: $font-secondary;
          padding-bottom: 2rem;
          font-size: ($font-size * .9);

          text-align: left;
     }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
     .title {
          font-size: $font-size-title-celular;
     }

     .title__tickets {
          font-size: ($font-size * 8);
          line-height: 140%;
     }

     .card {
          &__description {
               font-size: ($font-size * .9);
          }
     }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
     .title {
          font-size: $font-size-title-tablet;
          font-weight: 600;

          &__tickets {
               font-size: ($font-size * 9);
               line-height: 140%;
          }
     }

     .card {
          &__description {
               font-size: ($font-size * .9);
          }
     }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
     .title {
          font-size: $font-size-title-tablet;

          &__tickets {
               font-size: ($font-size * 10);
               line-height: 140%;
          }
     }

     .card {
          &__description {
               font-size: ($font-size * 1.1);
          }
     }
}

@media only screen and (min-width: 1200px) {
     .menu {
          &__list {
               &__link {
                    // font-size: $font-size;
                    font-weight: 500;
                    letter-spacing: -0.3px;
                    color: $color-text;

                    &__icon {
                         font-size: ($font-size * 1.25);
                    }
               }
          }
     }

     .title {
          font-size: $font-size-title-desktop;

          &__tickets {
               font-size: ($font-size * 11);
               line-height: 120%;
          }
     }

     .subtitle {
          font-size: $font-size-subtitle-tablet;
          font-weight: 300;
          letter-spacing: -0.48px;
          line-height: 120%;
          text-align: center;

          &__bold {
               font-weight: 600;
          }
     }

     .card {
          &__description {
               font-size: ($font-size * 1.1);
          }
     }

     .footer {
          &__title {
               font-size: ($font-size * .7);
               font-weight: 600;
               text-transform: uppercase;
          }

          &__subtitle {
               font-size: ($font-size * .7);
               font-weight: 500;
               letter-spacing: -0.27px;
          }

          &__copyright__text {
               font-size: ($font-size * .7);
               font-weight: 500;
               letter-spacing: -0.3px;
               text-align: center;
          }
     }

     .privacidad,
     .proteccion {
          &__title {
               font-size: ($font-size * 2.25);
          }

          &__subtitle {
               font-size: ($font-size * 1.25);
          }

          &__description {
               font-size: ($font-size * 1.25);

               text-align: justify;
          }
     }
}