
.ticket {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     position: relative;

     &:hover {
          //transition: all 0.5 ease;
          //filter: brightness(25%);

          .ticket__img__container {
               opacity: .25;

               z-index: 0;
          }
     }
}

.ticket__img__container {
     max-width: 100%;
     background-color: $color-bg;
     z-index: 10;

     opacity: 1;
     transition: all 1s ease;

     // &:hover {
     //      //transition: all 0.5 ease;
     //      //filter: brightness(25%);

     //      opacity: .25;

     //      z-index: 0;
     // }
}

.ticket__img {
     width: 100%;

     object-fit: cover;
}

.ticket__button {
     z-index: 0;

     position: absolute;

     &:hover{
          .ticket__img__container{
               opacity: .25;
          }

          z-index: 10;
     }
}